<form id="form" action="https://localhost:3113/user/register" method="post" class="m-0">
    <section class="vh-100 bg-info">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Đăng ký tài khoản</h3>

                            <div class="input-group mb-3">
                                <span class="input-group-text w-25 bg-secondary" id="Username">Username</span>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                    aria-describedby="Username" name="username" value="{{username}}">
                            </div>


                            <div class="input-group mb-3">
                                <span class="input-group-text w-25 bg-secondary " id="Password">Password</span>
                                <input type="password" class="form-control" placeholder="Password" aria-label="Username"
                                    aria-describedby="Password" name="password" value="{{password}}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text w-25 bg-secondary" id="fullname">Họ tên</span>
                                <input type="text" class="form-control" placeholder="Họ tên" aria-label="fullname"
                                    aria-describedby="Password" name="fullname" value="{{fullname}}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text w-25 bg-secondary" id="address">Địa chỉ</span>
                                <input type="text" class="form-control" placeholder="Địa chỉ" aria-label="address" aria-describedby="address"
                                    name="address" value="{{address}}" >
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng ký</button>

                            {{#if success}}
                            <p class="mt-4 text-success">{{status}}</p>
                            {{else}}
                            <p class="mt-4 text-danger">{{status}}</p>
                            {{/if}}

                            <hr class="my-4">

                            <a href="/user/login" class="btn btn-lg btn-block btn-success" type="submit">Đăng nhập ngay
                                tại đây</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>